header{
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main p{
  font-size: large;
}

#reset-btn{
  border-radius: 8px;
  padding: 8px 12px;
  margin: 12px 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: #fff;
  border: none;
}

h1{
  font-size: 56px;
}

#grid-container {
  border: 4px solid black;
  width: 352px;
  height: 352px;
  line-height: 0;
  border-radius: 8px;
}

.grid-item {
  border: 1px solid #f7f7f7;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0;
  padding: 0;
}